.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 56px;
  width: 72px;
  z-index: 200;
  background-color:white;
  padding-top: 5px;
}

.sidebar-boxes{
  height: 85px;
  width:68px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  
}
.sidebar-boxes:hover{
  background-color: rgb(235, 235, 235);
  border-radius: 12px;

}
.sidebar-boxes img{
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-boxes div{
  font-family: Roboto, Arial;
  font-size: 10px;
}